@use '../variables' as v;
@use '../mixins' as m;

.verification {
    &__boxImage {
        width: 18.75rem;
        height: 18.75rem;
        animation: animationImage 3s ease-out forwards;
    }

    &__content {
        @include m.center;
        flex-direction: column;
        gap: 1rem;
        opacity: 0;
        margin-top: -6rem;
        animation: animationContent 1s ease-out 3s forwards;

        &-text {
            color: v.$font-light-color;
            font-size: 2.2rem;
            font-weight: 400;
        }

        &-btn {
            @include m.button(v.$active-color, v.$font-dark-color);
        }
    }
}

@keyframes animationImage {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}

@keyframes animationContent {
    100% {
        opacity: 1;
    }
}